# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/.gradle/7.6/checksums/checksums.lock
/.gradle/7.6/checksums/md5-checksums.bin
/.gradle/7.6/checksums/sha1-checksums.bin
/.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.6/dependencies-accessors/gc.properties
/.gradle/7.6/executionHistory/executionHistory.bin
/.gradle/7.6/executionHistory/executionHistory.lock
/.gradle/7.6/fileChanges/last-build.bin
/.gradle/7.6/fileHashes/fileHashes.bin
/.gradle/7.6/fileHashes/fileHashes.lock
/.gradle/7.6/fileHashes/resourceHashesCache.bin
/.gradle/7.6/gc.properties
/app/release/afoozoCustomerRelease.apk
/app/release/app-release.aab
/app/release/output-metadata.json
/razorpay-android-3.8.8/build/.transforms/2ba6d57fbc55a4abdbc2495befc48b47/results.bin
/razorpay-android-3.8.8/build/.transforms/2d20f57be7f66003880e5aad8e282834/results.bin
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/jars/classes.jar
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/META-INF/MANIFEST.MF
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable/button_style.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable/rzp_loader_circle.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable/styles.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-hdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-hdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-mdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xhdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xhdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxhdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxhdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxhdpi-v4/rzp_name_logo.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxxhdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxxhdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/layout/app_display_list_heading_tv.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/layout/apps_display_grid_element.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/layout/apps_display_list_element.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/layout/rzp_loader.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/layout/upi_intent_activity_selector.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/layout/upi_intent_no_apps_found.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/raw/rzp_config.json
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/res/values/values.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/AndroidManifest.xml
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/transformed/jetified-razorpay-android-3.8.8/R.txt
/razorpay-android-3.8.8/build/.transforms/3e40a459564ea46140b49785d16cd86f/results.bin
/razorpay-android-3.8.8/build/.transforms/003e569009ee68dd80782d0d3bb83413/results.bin
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-hdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-hdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-mdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xhdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xhdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xxhdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xxhdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xxhdpi-v4_rzp_name_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xxxhdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable-xxxhdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable_button_style.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable_rzp_loader_circle.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/drawable_styles.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/layout_app_display_list_heading_tv.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/layout_apps_display_grid_element.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/layout_apps_display_list_element.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/layout_rzp_loader.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/layout_upi_intent_activity_selector.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/layout_upi_intent_no_apps_found.xml.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/transformed/com.razorpay/raw_rzp_config.json.flat
/razorpay-android-3.8.8/build/.transforms/4a4e8807e2dc82459a019f6bac528c5a/results.bin
/razorpay-android-3.8.8/build/.transforms/4f89b331389f9e14770fb1a2d0907767/results.bin
/razorpay-android-3.8.8/build/.transforms/6c26d479776d5339eeabf2fbab005577/results.bin
/razorpay-android-3.8.8/build/.transforms/6e4325003bb50b787377cb08b12b07e2/results.bin
/razorpay-android-3.8.8/build/.transforms/6f2cd26bad5d7600f76f4b8f6a931857/results.bin
/razorpay-android-3.8.8/build/.transforms/8d7ef1bdd5a659b770f33dd45a0af745/results.bin
/razorpay-android-3.8.8/build/.transforms/09c09123a425a130f69eb1e862580692/results.bin
/razorpay-android-3.8.8/build/.transforms/29b46b7a99acff2f798c19e018a2e9df/transformed/com.razorpay-r.txt
/razorpay-android-3.8.8/build/.transforms/29b46b7a99acff2f798c19e018a2e9df/results.bin
/razorpay-android-3.8.8/build/.transforms/83aececcb94db0007f960571c07da7ab/results.bin
/razorpay-android-3.8.8/build/.transforms/84aadcfaf7b124205aa21e742deb002e/transformed/jetified-razorpay-android-3.8.8-runtime.jar
/razorpay-android-3.8.8/build/.transforms/84aadcfaf7b124205aa21e742deb002e/results.bin
/razorpay-android-3.8.8/build/.transforms/90be4b4ff4d6673e2c548c018d4959ab/transformed/jetified-razorpay-android-3.8.8-runtime/classes.dex
/razorpay-android-3.8.8/build/.transforms/90be4b4ff4d6673e2c548c018d4959ab/results.bin
/razorpay-android-3.8.8/build/.transforms/99b28d19320411ba2923539d9de5d61a/transformed/jetified-razorpay-android-3.8.8-api.jar
/razorpay-android-3.8.8/build/.transforms/99b28d19320411ba2923539d9de5d61a/results.bin
/razorpay-android-3.8.8/build/.transforms/176d5ec004b3e6eeece56e837891f9cc/results.bin
/razorpay-android-3.8.8/build/.transforms/520af8aab86d2555cc918c056f2cf782/results.bin
/razorpay-android-3.8.8/build/.transforms/845e236b5d6628b4da63638afb20e4d1/results.bin
/razorpay-android-3.8.8/build/.transforms/1768b4424f85f229e63cd77003d19e7b/results.bin
/razorpay-android-3.8.8/build/.transforms/2794ea46fa3cf93a570dde521a6aa8e9/transformed/jetified-razorpay-android-3.8.8-runtime/classes.dex
/razorpay-android-3.8.8/build/.transforms/2794ea46fa3cf93a570dde521a6aa8e9/results.bin
/razorpay-android-3.8.8/build/.transforms/5463ea98c2ba11a353f86492e49edc07/results.bin
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-hdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-hdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-mdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xhdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xhdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xxhdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xxhdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xxhdpi-v4_rzp_name_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xxxhdpi-v4_razorpay_card.9.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable-xxxhdpi-v4_rzp_logo.png.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable_button_style.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable_rzp_loader_circle.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/drawable_styles.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/layout_app_display_list_heading_tv.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/layout_apps_display_grid_element.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/layout_apps_display_list_element.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/layout_rzp_loader.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/layout_upi_intent_activity_selector.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/layout_upi_intent_no_apps_found.xml.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/transformed/com.razorpay/raw_rzp_config.json.flat
/razorpay-android-3.8.8/build/.transforms/88335c6d7ef3a0c3a32897f7be475230/results.bin
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/jars/classes.jar
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/META-INF/MANIFEST.MF
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable/button_style.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable/rzp_loader_circle.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable/styles.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-hdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-hdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-mdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xhdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xhdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxhdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxhdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxhdpi-v4/rzp_name_logo.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxxhdpi-v4/razorpay_card.9.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/drawable-xxxhdpi-v4/rzp_logo.png
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/layout/app_display_list_heading_tv.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/layout/apps_display_grid_element.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/layout/apps_display_list_element.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/layout/rzp_loader.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/layout/upi_intent_activity_selector.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/layout/upi_intent_no_apps_found.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/raw/rzp_config.json
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/res/values/values.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/AndroidManifest.xml
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/transformed/jetified-razorpay-android-3.8.8/R.txt
/razorpay-android-3.8.8/build/.transforms/1453508879c5e1f27095a316479d0977/results.bin
/razorpay-android-3.8.8/build/.transforms/037369025134ccde07cac92428e62931/results.bin
/razorpay-android-3.8.8/build/.transforms/a59f1b8505be9d8cc0a4f7a4605aebe3/results.bin
/razorpay-android-3.8.8/build/.transforms/b9b80b052a0a5643171f4872cc81cd1b/results.bin
/razorpay-android-3.8.8/build/.transforms/b24e3efc002efc43febc44aae70a24be/transformed/com.razorpay-r.txt
/razorpay-android-3.8.8/build/.transforms/b24e3efc002efc43febc44aae70a24be/results.bin
/razorpay-android-3.8.8/build/.transforms/b864c3fd472c29747c87d24c53ed39dd/results.bin
/razorpay-android-3.8.8/build/.transforms/b9514d060587219ab41a5a0543d738b7/transformed/jetified-razorpay-android-3.8.8.aar
/razorpay-android-3.8.8/build/.transforms/b9514d060587219ab41a5a0543d738b7/results.bin
/razorpay-android-3.8.8/build/.transforms/bd5e677cfd957a619ccda7d0d0624004/results.bin
/razorpay-android-3.8.8/build/.transforms/c3b8d6b38f4d7b90128cad949c9031cf/results.bin
/razorpay-android-3.8.8/build/.transforms/c5cd0b3a75b31295a40fb7f533568120/transformed/jetified-razorpay-android-3.8.8-runtime/classes.dex
/razorpay-android-3.8.8/build/.transforms/c5cd0b3a75b31295a40fb7f533568120/results.bin
/razorpay-android-3.8.8/build/.transforms/ccf7d41468a405f811d2b7a444d2de8a/results.bin
/razorpay-android-3.8.8/build/.transforms/cfd6690b9e0d5a55d1d59cbfc006ab5c/results.bin
/razorpay-android-3.8.8/build/.transforms/d06929382234e5f9696bd561ccc5ff24/results.bin
/razorpay-android-3.8.8/build/.transforms/ddfee2a7ac86859521e7da783dec6fd5/transformed/jetified-razorpay-android-3.8.8-api.jar
/razorpay-android-3.8.8/build/.transforms/ddfee2a7ac86859521e7da783dec6fd5/results.bin
/razorpay-android-3.8.8/build/.transforms/dfc6e7685c1b8fcc5fa99d52a4330d71/transformed/jetified-razorpay-android-3.8.8.aar
/razorpay-android-3.8.8/build/.transforms/dfc6e7685c1b8fcc5fa99d52a4330d71/results.bin
/razorpay-android-3.8.8/build/.transforms/e52b0e56e37ac08a8a940bbfef760eb6/results.bin
/razorpay-android-3.8.8/build/.transforms/e564fcca4a75e10759b7548b3d0b4efb/transformed/jetified-razorpay-android-3.8.8-runtime.jar
/razorpay-android-3.8.8/build/.transforms/e564fcca4a75e10759b7548b3d0b4efb/results.bin
/razorpay-android-3.8.8/build/.transforms/ef24f59f0e073bda61521082a7aa079d/results.bin
/razorpay-android-3.8.8/build/.transforms/f40d4672f081da066c2217c319d3d200/results.bin
